body{
    font-family: sans-serif;
    background-color:  $pokeBlue;
    font-family: 'Iceland', cursive;
}
.searchBar {
    padding: 20px 0;
    text-align: center;
    background-color: $pokeRed;
    border-radius: 8px 8px 0 0;
}
label {
    font-size: 1.3rem;
}
input[type=text]{
        height: 40px;
        padding-left: 10px;
        font-family: 'Iceland', cursive;
}
#pokeOutput {
    padding: 20px 50px 30px;
}
#pokeImage {
    display: block;
    margin: 20px 0;
    width: 180px;
    position: relative;
  left: -45px;
}
.base-title {
    font-size: 1.3rem;
    font-weight: 700;
}
.stat {
    font-weight: 700;
}
.poke-name-num {
    display: inline-block;
    float: left;
    margin-left: 5px;
}
.size {
    display: inline-block;
    float: right;
    margin-right: 5px;
}
.name {
    display: block;
    text-transform: capitalize;
    font-size: 1.6rem;
}
.poke-info{
    display: inline-block;
    margin-right: 2px;
}
