form {
    padding: 30px 10px;
    background-color: $pokeRed;
    border-bottom: 5px solid $pokeGrey;
    font-size: 1.2rem;
    font-weight: 500;
}
#pokemon {
    padding-left: 10px;
    font-size: 1rem;
    height: 30px;
}
.name {
    display: block;
    text-transform: capitalize;
    font-size: 1.5rem;
}
.poke-info{
    display: block;
}

#pokeOutput {
    padding: 30px 0;
    overflow:auto;
    height: 300px;
}

.left-container {
    float: left;
    position: relative;
    left: 300px;
}
.image-container {
    max-height: 100px;
}

.right-container {
    float: right;
    position: relative;
    right: 300px;
}

.base-title {
    font-size: 1.3rem;
    font-weight: 700;
}
.stat {
    font-weight: 700;
}

button {
    background-color: transparent;
    cursor: pointer;
}

#shinyBtn{
border: 1px $pokeRed solid;
font-size: .9rem;
}

#defaultBtn{
    border: 1px black solid;
    font-size: .9rem;
}

.changeBtn {
    border: none;
}


footer {
    background-color: $pokeRed;
    padding: 30px;
    text-align: center;
}

footer a {
    color: #FFF;
    text-decoration: none;
}
