button{
    display:inline;
    margin:0;
    background-color: #333;
    color: #bebebe;
    border: 1px solid #bebebe;
    position: relative;
    left: 0px;
}

.bigBtn {
    height: 30px;
    width: 100px;
}
.changeBtn {
    height: 30px;
    width: 50px;
}
