.container {
    width: 50%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #111;
    color: #FFF;
}

.image-container {
    height: 300px;
    width: 100%;
    background-color: $pokeGrey;
    white-space: nowrap;
    border: 1px solid #bebebe;
}

.left-container {
    float: left;
}

.right-container {
    float: right;
}
