footer {
    background-color: $pokeRed;
    text-align: center;
    position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   color:#FFF;
}

footer a {
    color: #FFF;
    text-decoration: none;
}

footer a:hover {
    color:$pokeYellow;
}
