#types {

}
.pokeType {
    padding: 5px;
    color:#FFF;
    border-radius: 5px;
    text-transform: capitalize;
}
.normal {
    background-color: #A8A878;
}
.grass {
    background-color: #78C850;
}
.ground {
    background-color: #E0C068;
}
.fighting {
    background-color: #C03028;
}
.rock {
    background-color: #B8A038;
}
.steel {
    background-color: #B8B8D0;
}
.fire {
    background-color: #F08030;
}
.electric {
    background-color: #F8D030;
}
.flying {
    background-color: #A890F0;
}
.psychic {
    background-color: #F85888;
}
.bug {
    background-color: #A8B820;
}
.dragon {
    background-color: #7038F8;
}
.water{
    background-color: #6890F0;
}
.ice {
    background-color: #98D8D8;
}
.poison {
    background-color: #A040A0;
}
.dark {
    background-color: #705848;
}
.ghost {
    background-color: #705898;
}
.fairy {
    background-color: #FFAEC9;
}
