table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.2rem;
}

td, th {
    border: 1px solid $pokeRed;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: $pokeRed;
}
